/* basic responsive image css */
img,
video {
  max-width: 100%;
  height: auto;
}

.landmarks-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

figure {
  margin: 0;
}

/* -------------------------------
Responsive video
------------------------------- */
.videoWrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
  clear: both;
}

/* 16:9 aspect ratio wrapper */
.videoWrapper.ratio-16-9 {
  padding-bottom: 56.25%;
  /* 9 รท 16 = .5625 which is 56.25% */
}

/* 4:3 aspect ratio wrapper */
.videoWrapper.ratio-4-3 {
  padding-bottom: 75%;
  /* 3 รท 4 = .75 which is 75% */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Spacing Units  */
/* CSS Variables for Spacing */
:root {
  --space-unit: 1rem;
  --space-xs: calc(var(--space-unit) * 0.25);
  --space-sm: calc(var(--space-unit) * 0.5);
  --space-md: calc(var(--space-unit) * 1);
  --space-lg: calc(var(--space-unit) * 1.5);
  --space-xl: calc(var(--space-unit) * 2);
  --space-xxl: calc(var(--space-unit) * 3);
}
/* Styling for individual Landmark pages */
.landmark-page .intro{
  padding: 0 var(--space--md);
}
.landmark-page .about{
  padding: 0 var(--space-sm);
}
.landmark-page .images-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md)
}
.landmark-page figcaption{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
  padding: var(--space-xs);
}
@media(min-width:684px){
  .landmark-page .images-grid{
  grid-template-columns: repeat(2, 1fr);
}
@media(min-width:1375px){
  .landmark-page .images-grid{
  grid-template-columns: repeat(3, 1fr);
}
html {
  font-size: 16px;
}
@media(min-width: 684px){
  html{
    font-size: 18px
  }
  @media(min-width: 1375px){
    html{
      font-size: 24px;
    }
  }
}